header {
    color: #0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}

form{
    display: flex;
    flex-direction: column;
    margin-left: 2.5em;
    font-size: 1.2rem;
}

label{
    margin-bottom: 1em;
}

button{
    margin-right: 0.7em;
}
